body {
  color: #FFFCFD;
  background-color: #0A1828;
  font-family: "Book Antiqua";
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  color: #FFFCFD;
  background-color: #055D77;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0 0 5px black;
  font-size: 16px;
  font-weight: bold;
}
h2 {
  text-align: center;
}
h3 {
  color: #FFF2F8
}
h5 {
  color: white;
}
.jumbotron {
  color: #FFFCFD;
  background-color: #055D77;
  font-family: "Book Antiqua";
  opacity: 0.8;
  box-shadow: 0 0 5px black;
}
.jumbotron h1 {
  text-align: center;
}
.btn {
  color: #FFFCFD;
  background-color: #055D77;
  margin-left: 45%;
}
.btn:hover {
  color: #10A39E;
}
.hidden {
  display:none;
}
#newTime {
  width: 50%;
  margin-left: 25%;
}
.result {
  background-color: #055D77;
  color: #FFFCFD;
  opacity: 0.8;
  box-shadow: 0 0 5px #10A39E;
  display: block !important;
  font-family: "Book Antiqua";
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid black;
}
